@{
    ViewData["Title"] = "404 Page-NotFound";
}
<link href="~/Home/css/404.css" rel="stylesheet" />
<div id="notfound">
    <div class="notfound">

        <form class="notfound-search">
            <img src="~/Home/img/error.svg">
            <h2>Oops, The Page you are looking for can't be found!</h2> <br>
        </form>
    </div>
</div>