@model IEnumerable<VirtualClinic.ViewModels.DoctorViewModel>





<link href="~/DoctorsProfiles/css/DoctorsProfilesStyle.css" rel="stylesheet" />




<section class="cards-wrapper">

    @foreach (var item in Model)
    {
        <div style="align-items:center;" class="card-grid-space">
            <a asp-action="Details" asp-controller="DoctorsProfiles" asp-route-id="@item.Id" class="card" style="--bg-img: url('data:image/jpeg;base64,@Convert.ToBase64String(item.Image)')">
                <div style="text-align:center;">
                    <h1>@item.FirstName<br /></h1>
                    <br />
                    <br />
                    <h1>@item.LastName<br /></h1>
                    <br />
                    <br />
                    <div class="tags">
                        <div style="padding:15px;" class="tag">@item.Speciality</div>
                    </div>
                </div>
            </a>
        </div>
    }
    </section>