@model VirtualClinic.ViewModels.LoginViewModel
<link href="/account/css/ActivateAccount/css/ActivateAcountStyle.css" rel="stylesheet" />

<div class="face">
    <div class="band">
        <div class="red"></div>
        <div class="white"></div>
        <div class="blue"></div>
    </div>
    <div class="eyes"></div>
    <div class="dimples"></div>
    <div class="mouth"></div>
</div>

<h1>if your the owner of the account with the email : @Model.Email</h1>
<h1>Please contact the admin to activate your account : <p style="color:blue;">Master@Admin.com</p></h1>