@model VirtualClinic.ViewModels.RegisterViewModel


<link href="/account/css/ActivateAccount/css/ActivateAcountStyle.css" rel="stylesheet" />

<div class="face">
    <div class="band">
        <div class="red"></div>
        <div class="white"></div>
        <div class="blue"></div>
    </div>
    <div class="eyes"></div>
    <div class="dimples"></div>
    <div class="mouth"></div>
</div>

<h1>  @Model.FirstName  @Model.LastName </h1>
<h1>   Please check your Email Inbox, a confirm Email is Sent to this MailBox : @Model.Email</h1>