@model VirtualClinic.ViewModels.RegisterViewModel




    @*<section class="regist">
            <div class="container margin bg-white text-center">
                <h1 class="mt-5 overflow-hidden">Register</h1>
                <div class="d-flex align-items-start  py-2">
                    <img id="Image" src="~/Images/img/NoImage.jpg" class="img" alt="">
                    <div class="pl-sm-4 pl-2" id="img-section">
                        <b>Profile Photo</b><br />
                        <button id="ImageButton" class="btn button border mt-5"><b>Upload</b></button>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <input asp-for="Image" type='file' id="imgInp" hidden required />
                    <div class="py-2">
                        <div class="row py-2">
                            <div class="col-md-6">
                                <input asp-for="FirstName" type="text" class="bg-light form-control" placeholder="first name">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 pt-md-0 pt-3">
                                <input asp-for="LastName" type="text" class="bg-light form-control" placeholder="last name">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row py-2">

                            <div class="col-md-6">
                                <input asp-for="Email" type="text" class="bg-light form-control" placeholder="email@exemple.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 pt-md-0 pt-3">
                                <input asp-for="IdCard" class="bg-light form-control" placeholder="EE55555">
                                <span asp-validation-for="IdCard" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row py-2">
                            <div class="col-md-6">
                                <select asp-for="Country" name="country" class="countries form-control" id="countryId" data-val="true" data-val-required="The Country field is required.">
                                    <option hidden value="">Select you Country</option>
                                </select>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 pt-md-0 pt-3" id="lang">
                                <div class="arrow">
                                    <select asp-for="State" name="state" class="states form-control" id="stateId" data-val="true" data-val-required="The State field is required.">
                                        <option hidden value="">Select your State</option>
                                    </select>
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="col-md-6 pt-md-0 pt-3" id="lang">
                                <select asp-for="City" name="city" class="cities form-control" id="cityId" data-val="true" data-val-required="The City field is required.">
                                    <option hidden value="">Select your City</option>
                                </select>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 pt-md-0 pt-3">
                                <input asp-for="Adress" type="text" class="bg-light form-control" placeholder="Adress">
                                <span asp-validation-for="Adress" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row py-2">
                            <div class="col-md-6 pt-md-0 pt-3">
                                <input asp-for="PhoneNumber" type="tel" class="bg-light form-control" placeholder="+2126 000-000-00">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                            <div class="row py-2">

                                <div class="col-md-6">
                                    <select name="gender" class="form-control" data-val="true" data-val-required="The Gender field is required">
                                        <option hidden>Select Your Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>

                                <div class="col-md-6 pt-md-0 pt-3" id="lang">
                                    <div class="arrow">
                                        <input asp-for="BirthDate" type="date" class="bg-light form-control" placeholder="0700460776">
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            @if (ViewBag.IsDoctor)
                            {
                                <div class="row py-2">
                                    <div class="col-md-6 pt-md-0 pt-3" id="lang">
                                        <div class="arrow">
                                            <input asp-for="Specialist" type="text" class="bg-light form-control" placeholder="Your Medical speciality" required>
                                            <span asp-validation-for="Specialist" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 pt-md-0 pt-3" id="lang">
                                        <div class="arrow">
                                            <input asp-for="Price" type="text" class="bg-light form-control" placeholder="The amount you charge" required>
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                               }


                            <div class="row py-2">
                                <div class="col-md-6 pt-md-0 pt-3" id="lang">
                                    <div class="arrow">
                                        <input asp-for="Password" type="password" class="bg-light form-control" placeholder="***********">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6 pt-md-0 pt-3" id="lang">
                                    <div class="arrow">
                                        <input asp-for="ConfirmPassword" type="password" class="bg-light form-control" placeholder="***********">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>

                    </div>
                        <input type="submit" value="Register" class="btn btn-primary mr-3"/>
                </form>

                <p style="color:black;"> You have An Account ? <a asp-action="Login" asp-controller="Account" class="btn btn-link">Login</a> </p>



            </div>
        </section>*@




    @*<script defer src="~/js/country_state_city.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
            $('#ImageButton').click(function (e) {
                e.preventDefault();

                $('#imgInp').click();

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#Image').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $("#imgInp").change(function () {
                    readURL(this);
                });
            });
        </script>*@




    <link rel="stylesheet" type="text/css" href="/account/css/UserRegister/montserrat-font.css">
    <link rel="stylesheet" type="text/css" href="/account/css/UserRegister/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="/account/css/UserRegister/UserRegisterStyle.css" />


    <div class="form-v10">
        <div class="page-content">
            <div class="form-v10-content">
                <form class="form-detail" action="#" method="post" id="myform">
                    <div class="form-left">
                        <h2>Register</h2>
                        <div class="form-row">
                            <select name="title">
                                <option class="option" value="title">Title</option>
                                <option class="option" value="businessman">Businessman</option>
                                <option class="option" value="reporter">Reporter</option>
                                <option class="option" value="secretary">Secretary</option>
                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input type="text" name="first_name" id="first_name" class="input-text" placeholder="First Name" required>
                            </div>
                            <div class="form-row form-row-2">
                                <input type="text" name="last_name" id="last_name" class="input-text" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <select name="position">
                                <option value="position">Position</option>
                                <option value="director">Director</option>
                                <option value="manager">Manager</option>
                                <option value="employee">Employee</option>
                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>
                        <div class="form-row">
                            <input type="text" name="company" class="company" id="company" placeholder="Company" required>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-3">
                                <input type="text" name="business" class="business" id="business" placeholder="Business Arena" required>
                            </div>
                            <div class="form-row form-row-4">
                                <select name="employees">
                                    <option value="employees">Employees</option>
                                    <option value="trainee">Trainee</option>
                                    <option value="colleague">Colleague</option>
                                    <option value="associate">Associate</option>
                                </select>
                                <span class="select-btn">
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-right">
                        <h2></h2>
                        <div class="form-row">
                            <input type="text" name="street" class="street" id="street" placeholder="Street + Nr" required>
                        </div>
                        <div class="form-row">
                            <input type="text" name="additional" class="additional" id="additional" placeholder="Additional Information" required>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input type="text" name="zip" class="zip" id="zip" placeholder="Zip Code" required>
                            </div>
                            <div class="form-row form-row-2">
                                <select name="place">
                                    <option value="place">Place</option>
                                    <option value="Street">Street</option>
                                    <option value="District">District</option>
                                    <option value="City">City</option>
                                </select>
                                <span class="select-btn">
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-row">
                            <select name="country">
                                <option value="country">Country</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="India">India</option>
                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input type="text" name="code" class="code" id="code" placeholder="Code +" required>
                            </div>
                            <div class="form-row form-row-2">
                                <input type="text" name="phone" class="phone" id="phone" placeholder="Phone Number" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <input type="text" name="your_email" id="your_email" class="input-text" required  placeholder="Your Email">
                        </div>
                        <div class="form-checkbox">
                            <label class="container">
                                <p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
                                <input type="checkbox" name="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-row-last">
                            <input type="submit" name="register" class="register" value="Register Badge">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }