@model VirtualClinic.ViewModels.ApplicationUserViewModel

    <form action="/" method="post" enctype="multipart/form-data">
        <input type="email" asp-for="Email" />
        <input type="password" asp-for="Password" />
        <button asp-action="Login" asp-controller="Admin" type="submit"></button> />
    </form>
