@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VirtualClinic</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="~/LogedOutHome/css/StyleSheet.css" rel="stylesheet" />
    <script src="~/LogedOutHome/js/LogedOutHomeScript.js"></script>

</head>


<body>
    <header>
        <nav>
            <div id="brand">
                <img class="logo" width="55px" height="60px;" src="/Images/Logos/logo.png" alt="Alternate Text" />
                <h2 style="margin-left:20px;color:white;">VirtualClinic</h2>
            </div>
            <div id="menu">
                <div id="menu-toggle">
                    <div id="menu-icon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <ul>
                    <li><a href="#section01"></a></li>
                    <li><a href="#section02"></a></li>
                    <li><a href="#section03"></a></li>
                    <li><a href="#section04"></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section  id="section01">
        <div id="heading"></div>
    </section>
    <section id="section02">
        <div id="heading"></div>
    </section>
    <section id="section03">
        <div id="heading"></div>
    </section>
    <section id="section04">
        <div id="heading"></div>
    </section>





</body>

</html>
